.all-blog-user-content-detail {
    display: grid;
    gap: 30px;
    flex-flow: wrap;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    font-size: 18px;
}


@media screen and (max-width: 1200px) {
    .all-blog-user-content-detail {
        gap: calc(2.5vw);
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .all-blog-user-content-detail {
        gap: calc(4vw);
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
    }
}

@media screen and (max-width: 350px) {
    .all-blog-user-content-detail {
        font-size: 16px;
        grid-template-columns: repeat(1, 1fr);
    }
}